## Import packages
import(methods)

## Import functions
importFrom(stats, coef, formula, logLik, residuals, update)

## Classes       
exportClasses(Goestml, GoGARCH, Goinit, Gosum, Orthom)

## Methods
exportMethods(angles, cvar, ccor, ccov, coef, converged, formula, goest, logLik, M, print, show, summary, t, residuals, update)

## Functions
export(gogarch, goinit, gollh, gotheta, Rd2, UprodR, unvech, validOrthomObject, validGoinitObject)



