##
import(methods)

## Functions
export(goinit, gollh, Rd2, UprodR, unvech, validOrthomObject)

## Classes       
exportClasses("Goinit", "Orthom")

## Methods
exportMethods("show", "print")
